select{
	width: 100%;
}
.row{
	margin-top: 50px;
	min-height: 50px;
}
#map{
	height:100vh;
	content: "";
}
#contents{
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
#selectors{
	padding-top: 0px;
}